{% load static %}
{% load bootstrap5 %}

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'Peppino.png' %}" type="image/png">
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap" rel="stylesheet">
    <title>{{ tab }}</title>
    {% block style %}
    {% endblock %}
</head>
<body class="d-flex flex-column" style="min-height: 100vh;">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="font-size: 18px;">
        <a class="navbar-brand" href="{% url 'index' %}" style="font-size: 25px;">Academia USAC</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">
                {% if request.session.nombre_usuario %}
                <li class="nav-item" style="padding-left: 15px;">
                    <a class="btn btn-danger" href="{% url 'logout' %}">Cerrar Sesión</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    
    <!-- Contenido principal -->
    <div class="container flex-grow-1">
        {% block content %}
        {% endblock %}
    </div>
    
    <!-- Footer -->
    <footer class="w3-container w3-padding-16 w3-center" style="background-color: #333; color: white; width: 100%;">
        <div class="w3-opacity">
            <h3 class="w3-margin w3-xlarge">Academia USAC - Proyecto de Gestión de Cursos</h3>
            <p>&copy; 2024 Academia USAC. Todos los derechos reservados.</p>
            <p>
                <a href="#" style="color: white; text-decoration: none;">Política de privacidad</a> | 
                <a href="#" style="color: white; text-decoration: none;">Términos de servicio</a>
            </p>
        </div>
    </footer>

    {% bootstrap_javascript %}
    {% block script %}
    {% endblock %}
</body>
</html>