{% extends "base.html" %}
{% load static %}
{% block content %}
<h1>Bienvenido, {{ nombre_usuario }}</h1>
<p>Aquí puedes gestionar tus cursos y notas.</p>

<!-- Agrega aquí más contenido o funcionalidades específicas para los catedráticos -->
<div>
    <h2>Gestión de Cursos</h2>
    <p>Puedes agregar, editar o eliminar cursos desde esta sección.</p>
    <!-- Aquí podrías incluir botones o enlaces a otras vistas relacionadas -->
    <a href="{% url 'cursos_asignados' %}" class="btn btn-primary">Ver Cursos Asignados</a>
</div>

<div>
    <h2>Gestión de Notas</h2>
    <p>Puedes consultar y actualizar las notas de tus estudiantes aquí.</p>
    <!-- Aquí podrías incluir botones o enlaces a otras vistas relacionadas -->
</div>
{% endblock %}