{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>{{ tab }}</h1>
{% if messages %}
    <div class="mb-3">
        {% for message in messages %}
            <div class="alert alert-info">{{ message }}</div>
        {% endfor %}
    </div>
{% endif %}
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <input type="password" name="nueva_password" placeholder="Nueva Contraseña" required class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Restablecer Contraseña</button>
</form>
{% endblock %}