html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.card {
    transition: transform 0.2s; /* Agrega una transición suave */
}

.card:hover {
    transform: scale(1.05); /* Aumenta el tamaño de la tarjeta al pasar el ratón */
}

/* El contenedor principal ocupará el espacio restante */
.main-content {
    flex: 1;
}

p {
    font-family: "Playpen Sans", cursive;
    font-size: 18px;
}

.title {
    font-family: "Playpen Sans", cursive;
    font-size: 35px;
}

.title-2 {
    font-family: "Playpen Sans", cursive;
    font-size: 35px;
}

.navbar-brand {
    font-family: "Playpen Sans", cursive;
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
}

.w3-opacity {
    font-family: "Playpen Sans", cursive;
    font-size: 20px;
}

.main-content {
    flex: 1;
}

.btn-info {
    font-family: "Playpen Sans", cursive;
    font-size: 15px;
    border-radius: 5px;
}

.btn-primary {
    font-family: "Playpen Sans", cursive;
    font-size: 15px;
    border-radius: 5px;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
}

footer .w3-opacity h3, footer p {
    margin: 0;
    padding: 0;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}